<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="products_list.css">
</head>
<div class="row">
    <div class="col-lg-6">
        <div class="box">
            <div class="body">
                <div class="form-group">					
					<h4 style="margin-left: 30px;"><b>Lista maloprodajnih objekata</b></h4> 
						<div style="margin-left: 30px">
							<b>Prodavnica 1</b><a href="#" style="float: right; margin-right: 300px;">Edit</a><a href="#"style="float: right; margin-right: 30px;">Delete</a><br/> 
							Novi Sad<br/>
							Neka Ulica XY<br/>
							021/737373<br/><br/>
						</div>
						<div style="margin-left: 30px">
							<b>Prodavnica 2</b><a href="#" style="float: right; margin-right: 300px;">Edit</a><a href="#"style="float: right; margin-right: 30px;">Delete</a><br/>
							Novi Sad<br/>
							Neka Ulica XY<br/>
							021/737373<br/><br/>
						</div>
						<div style="margin-left: 30px">
							<b>Prodavnica 3</b><a href="#" style="float: right; margin-right: 300px;">Edit</a><a href="#"style="float: right; margin-right: 30px;">Delete</a><br/>
							Novi Sad<br/>
							Neka Ulica XY<br/>
							021/737373<br/>
						</div>
				</div>
			</div>
		</div>
	</div>		
</body>
</html>